<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>File list</title>
</head>

<body>
    <div style="text-align: center; width:fit-content; margin-top: 10pt; margin-left: auto; margin-right: auto;">
        <div style="text-align: left">
            {{$id := .ID}}
            {{$filenames := .Filenames}}
            {{range $i, $index := .Indexes}}
            <a style="display:block; margin-bottom: 5pt; font-size:small;" href="/r/{{$id}}?index={{$index}}">{{index
                $filenames $i}}</a>
            {{end}}
        </div>
        <div style="margin-top: 10pt;">
            <a href="#" onclick="history.back()">Back</a>
        </div>
    </div>
</body>